@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/HindSiliguri-Light.woff") format("truetype");

}
@font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}
.ateliersect1,
.ateliersect2,
.ateliersect3,
.ateliersect4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Divisez chaque section en 2 colonnes égales */
    grid-gap: 250px;
    /* Espace entre les éléments de chaque section */
    padding: 30px 160px;
    /* Ajoutez un espace autour de chaque section si nécessaire */
}

.ateliersect1 img,
.ateliersect2 img,
.ateliersect3 img,
.ateliersect4 img {
    max-width: 100%;
    margin-bottom: 50px;
    /* Pour que les images ne dépassent pas la largeur de leur conteneur */
}

/* Styles spécifiques à chaque section */
.ateliersect1 {
    margin-top: -25px;
}
.ateliersect1 img {
    width: 467px;
    height: 508px;
    margin-right: 160px;
}
.ateliersect1b1 h1 {
    color: #871116;
    font-size: 50px;
    font-family: "helene", sans-serif;
    line-height: 1;
    font-weight: 400;
    
}
.ateliersect1b1 p {
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
    display: flex;
    justify-content: end;

}
.ateliersect1b1 {
    margin-top: -30px;
}
.bioateletierbaudelaire h4 {
    color: #871116;
    font-family: "itabbee", sans-serif;
    display: flex;
    justify-content: end;
    text-align: end;
    font-weight: 300;
    font-size: 23px;
}
.bioateletierbaudelaire2 {
    display: none;
}
.liensect1 {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 40px;
}
.liensect1 a {
    color: #871116;
    font-size: 18px;
    font-family: "textbase",sans-serif;
    font-weight: 200;

}
.ateliersect2 img {}
.ateliersect2b2{
    margin-top: -30px;
}
.ateliersect2b2 h1 {
    color: #871116;
    font-size: 50px;
    font-family: "helene", sans-serif;
    font-weight: 400;
    line-height: 1;
}
.ateliersect2b2 p {
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}
.ateliersect3 img {
    width: 420px;
    height: 449px;
    margin-right: 160px;
}
.ateliersect3b1 h1 {
    color: #871116;
    font-size: 50px;
    font-family: "helene", sans-serif;
    font-weight: 400;
}
.ateliersect3b1 p {
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}
.ateliersect4 img {
    margin-left: 15vh;
    height: 525px;
    width: 390px;
}
.ateliersect1b1{
    margin-top: -51px;
}
.ateliersect4b1 h1 {
    color: #871116;
    font-size: 50px;
    font-family: 'helene', sans-serif;
    font-weight: 400;

}
.ateliersect4b1{
    margin-top: -35px;
}
.ateliersect4b1 p {
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}

.ateliersection5 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 330px;
    padding-right: 330px;
}
.ateliersection5 a {
    color: #871116;
    margin-bottom: 110px;
    font-family: 'textebase', sans-serif;
}
.textateliersect5 {
    color: #871116;
    margin-top: 75px;
    margin-bottom: 20px;
    font-family: "helene", sans-serif;
    font-weight: 400;
    font-size: 70px;

}

.faqatelier {
    padding: 100px;
    margin-left: 120px;
    margin-right: 120px;

}

.toggle-content-atelier {
    display: none;
    margin-top: 10px;
    font-family: 'textebase', sans-serif;

}

.textfooteratelier {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #871116;
    font-size: 35px;
    font-family: "helene", sans-serif;
    margin-top: 30px;
    font-weight: 200;
    margin-bottom: 30px;

}

.toggle-button-atelier {
    background-color: #871116;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
    transition: transform 0.2s;

    /* Transition pour le bouton */
}
.moinsfaq {
    width: 18px;
    margin-bottom: 3px;

}
.plusfaq {
    width: 20px;
}
.toggle-button-atelier.minus:before {

    /* Changement du contenu pour le bouton "-" */
}

.toggle-content-atelier.show {
    display: block;
    margin-right: 220px;
    color: #871116;
    margin-bottom: 40px;
    font-size: 18px;

}

.ligneatelierfoo {
    border-bottom: #871116 1px solid;
}
.textesurligneratelier {
    text-decoration: underline;
}
@media screen and (max-width: 868px) {
    .atelierbody {
        overflow-x: hidden;
    }
    .ateliersect1 {
        margin-top: 0;
        display: block;
        margin-bottom: -40px;
    }
    .ateliersect1 img {
        margin-left: 38px;
        height: 300px;
        width: 300px;
    }
    .ateliersect1b1 {
        margin-left: 0;
        margin-right: 0;
        padding-top: 50px;
        margin-top: 0;
    }
    .ateliersect1b1 h1 {
        margin-left: 20px;
        font-size: 50px;
    }
    .ateliersect1b1 p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .liensect1{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .ateliersect2 {
        display: block;
    }
    .ateliersect2 img {
        margin-left: 0;
        width: 100%;

    }
    .ateliersect2b2 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -40px;

    }
    .ateliersect2b2 h1 {
        margin-left: 20px;
    }
    .ateliersect2b2 p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .ateliersect3 {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 20px;
    }
    .ateliersect3 img {
        margin-left: 36px;
        margin-top: 0px;
        margin-bottom: 10px;
        height: 300px;
        width: 300px;
    }
    .ateliersect3b1 {
        margin-left: 0;
        margin-right: 0;
    }
    .ateliersect3b1 h1{
        margin-left: 20px;
        margin-right: 0;
    }
    .ateliersect3b1 p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .ateliersect4 {
        display: block;
    }
    .ateliersect4 img {
        margin-left: 90px;
        margin-right: 0;
        margin-top: -20px;
        height: 254px;
        width: 190px;

    }
    .ateliersect4b1 {
        margin-left: 0;
        margin-right: 0;
        margin-top: -40px;
    }
    .ateliersect4b1 h1 {
        margin-left: 20px;
        margin-right: 0;
    }
    .ateliersect4b1 p{
        margin-left: 20px;
        margin-right: 20px;
    }
    .ateliersection5 {
        display: none;
    }
    .faqatelier {
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .ateliersect1,
    .ateliersect2,
    .ateliersect3,
    .ateliersect4 {

        padding-left: 0px;
        padding-right: 0px;

        
    }
    .bioateletierbaudelaire {
        display: none;
    }
    .bioateletierbaudelaire2 {
        display: flex;
        flex-direction: column;
        color: #871116;
        text-align: end;
        margin-right: 20px;
    }
    .bioateletierbaudelaire2 h4 {
        font-family: "itabbee", sans-serif;
        font-weight: 200;
        font-size: 23px;
        margin-top: -15px;
        margin-left: 20px;

    }
    .bioateletierbaudelaire2 p {
        font-size: 18px;
        font-family: 'textebase', sans-serif;
        margin-top: -15px;
        margin-left: 20px;
        margin-bottom:20px;

    }
    .plusfaq {
        width: unset;

    }
    .moinsfaq {
        width: unset;
    }
    .toggle-button-atelier{
        margin-left: 20px;
    }
    .toggle-content-atelier.show {
        margin-right: 0;
    }
    .textfooteratelier{
        font-size: 30px;
        padding-right: 10px;
    }
}
