@font-face {
    font-family: "Mademirageitalic";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
   
    
  }
  @font-face {
    font-family: "titreMirage";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
.ateliersect1{
    display: flex;
}
.ateliersect1b1{
 margin-right: 180px;
 margin-left: 180px;
}
.ateliersect1b1 h1{
    color: #871116;
    font-size: 50px;
    font-family: "Mademirageitalic", sans-serif;
}
.ateliersect1b1 p{
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
    
}
.bioateletierbaudelaire{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.bioateletierbaudelaire h4{
    color: #871116;
    font-family: "Mademirageitalic", sans-serif;
}
.liensect1 a {
    color: #871116;
    font-size: 18px;
}
.ateliersect2{
    display: flex;
    margin-top: 100Px;
}
.ateliersect2b2{
    margin-right: 80px;
    margin-left: 80px;
}
.ateliersect2b2 h1{
    color: #871116;
    font-size: 50px;
    font-family: "Mademirageitalic", sans-serif;
}
.ateliersect2b2 p{
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}
.ateliersect3{
    display: flex;
    margin-top: 100px;
}
.ateliersect3b1{
    margin-right: 80px;
    margin-left: 80px;
}
.ateliersect3b1 h1{
    color: #871116;
    font-size: 50px;
    font-family: "Mademirageitalic", sans-serif;
}
.ateliersect3b1 p{
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}
.ateliersect4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30vh;
    margin-left: 30vh;
    margin-top: 100px;
    margin-bottom: 150px;
   
}
.ateliersect4b1{
    margin-right: 100px;
    margin-left: 100px;
}
.ateliersect4b1 h1{
    color: #871116;
    font-size: 50px;
    
}
.ateliersect4b1 p{
    color: #871116;
    font-size: 18px;
    font-family: 'textebase', sans-serif;
}
.ateliersection5{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 330px;
    padding-right: 330px;
}
.ateliersection5 a{
    color: #871116;
    margin-bottom: 90px;
    font-family: 'textebase', sans-serif;
}
.textateliersect5{
    color: #871116;
    margin-top: 80px;
    font-family: "Mademirageitalic", sans-serif;
    
}

.faqatelier{
    padding: 100px;
}


.toggle-content-atelier {
    display: none;
    margin-top: 10px;
    font-family: 'textebase', sans-serif;
    
}

.textfooteratelier {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #871116;
    font-size: 25px;
    font-family: "Mademirageitalic", sans-serif;
   
}

.toggle-button-atelier {
    background-color: #871116;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    
     /* Transition pour le bouton */
}

.toggle-button-atelier.minus:before {
    content: "-";
     /* Changement du contenu pour le bouton "-" */
}

.toggle-content-atelier.show {
    display: block;
    margin-right: 220px;
    color: #871116;
    
}
