@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "saigon";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-ExtraLight.woff") format("woff");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/HindSiliguri-Light.woff") format("truetype");

}
@font-face {
    font-family: "literataita";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}
.swiper {
    width: 100%;

}

.swiper-slide {

    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}
.car3slide2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    margin-top: 20px;

}

.car3slide2 p {
    color: #871116;
    margin-left: 30px;
    font-family: "textebase", sans-serif;
    margin-top: 10px;

}

body {
    background-color: #FFF8F0;
}
.biorepon {
    display: none;
}
.biorepon h2{
    font-family: 'helene',sans-serif;
    font-weight: 200;
}
.henriMichaux {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #871116;
    margin-right: 24vh;
    margin-top: -10px;
    font-weight: 'normal';
}
.pourparcour {
    font-family: "literataita", sans-serif;
    font-size: 18px;
}
.namehenri {
    margin-top: -10px;
    margin-left: 30px;
    font-family: "textebase", sans-serif;

}
.section1bio {
    display: flex;
    margin-bottom: 130px;
}
.sect1bio-s1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
}
.sect1bio-s1 h2 {
    color: #871116;
    font-size: 30px;
    font-family: "saigon", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.linesect1bio {
    height: 900px;
    background-color: #871116;
    width: 2px;
}
.sect1bio-s2 {
    margin-left: 150px;
    margin-right: 200px;

}
.sect1bio-s2 h3 {
    color: #871116;
    font-size: 40px;
    font-family: "helene", sans-serif;
    font-size: 30px;
    font-weight: 200;
}
.sect1bio-s2 p {
    color: #871116;
    font-size: 18px;
    font-family: "textebase", sans-serif;
    font-weight: 'normal';
}
.section3bio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 330px;
    padding-right: 330px;

}
.section3bio a {
    color: #871116;
    margin-bottom: 110px;
    font-family: "textebase", sans-serif;
    font-weight: 'normal';
}
.textbiosect3 {
    color: #871116;
    margin-top: 80px;
    font-family: "helene", sans-serif;
    font-size: 70px;
    font-weight: 400;

}
.block5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.titrebl5 {
    color: #871116;
    padding: 20px;
    margin-top: 50px;
    line-height: 1;
}
.textbl5 {
    color: #871116;
    font-family: "textebase", sans-serif;
    font-weight: 'normal';
}
.imgbl5 img {
    padding: 15px;
}
.cparici {
    color: #871116;
    padding: 15px;
}
/* @media screen and(min-height: 1568px) {
    .sect1bio-s1{
        height: 120vh;
    }
} */
@media screen and (max-width: 868px) {
    .biobody {
        overflow: hidden;
    }
    .section1bio {
        display: block;
        margin-bottom: 0;
    }
    .henriMichaux {
        display: none;

    }
    .biorepon {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #871116;
        padding-top: 80px;
        margin-left: 5px;
        margin-bottom: -80px;
        

    }
    .biorepon h2{
        font-family: "helene",sans-serif;
        font-weight: 400;
        font-size: 50px;
    }

    .sect1bio-s1 {
        flex-direction: row;
        margin-left: 0;
        margin-bottom: -28px;
    }
    .sect1bio-s1 h2 {
        font-size: 29px;
    }
    .sect1bio-s2 {
        margin-left: 20px;
        margin-right: 40px;
    }
    .sect1bio-s2 p{
        margin-right: 0px;
        padding-bottom: 30px;
        line-height: 1.3;
    }
    .linesect1bio {
        height: 1px;
        background-color: #871116;
        width: 18px;
        margin-top: 11px;
    }
    .section3bio {
        display: block;
        padding-left: 0;
        padding-right: 0;
        background-color: #FFF8F0;
    }
    .sect1bio-s2 h3 {
        line-height: 1.3;
    }
    .textbiosect3 {
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1;
        display: flex;
        text-align: center;
    }
    .car3slide2 {
        display: block;
        background-color: #FFF8F0;
        margin-top: 0;
        padding-bottom: 10px;
    }
    .car3slide2 p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .car3slide2 img {
        margin-left: 90px;
    }
    .section3bio a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -15px;
        margin-top: -20px;
    }
    .block5{
        margin-bottom: 40px;
    }
}
