@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/HindSiliguri-Light.woff") format("truetype");

}
@font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}
.titrecreative {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #871116;

    margin-bottom: 70px;
    margin-top: -50px;
}
.titrecreative h1 {
    font-family: 'helene', sans-serif;
    font-weight: 300;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 50px;
}
.containercreative {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'textebase', sans-serif;
    margin: -60px 150px 100px;
}
.creativearticle {
    color: #871116;
    border-bottom: #871116 1px solid;
    margin-left: 80px;
    margin-right: 80px;

    margin-top: 30px;

}

@media screen and (max-width: 868px) {
    .creativebody {
        padding-top: 50px;
    }
    .titrecreative {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .titrecreative h1 {
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .containercreative {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    .creativearticle {
        margin-left: 20px;
        margin-right: 20px;
    }
}
