
@font-face {
    font-family: "Mademirageitalic";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
   
    
  }
  @font-face {
    font-family: "titreMirage";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
.titrecreative{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #871116;
    font-family: 'Mademirageitalic', sans-serif;
}
.containercreative{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'textebase', sans-serif;
}
.creativearticle{
    color: #871116;
    border-bottom: #871116 1px solid;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 30px;
    margin-top: 30px;
    
}
.article1{
    grid-row-end: span 1; 
}
.article2{
    grid-row-end: span 2; 
}
.article3{
    grid-row-end: span 1; 
}
.article4{
    grid-row-end: span 1; 
}
.article5{
    grid-row-end: span 2; 
}
.article6{
    grid-row-end: span 1; 
}
.article7{
    grid-row-end: span 2; 
}
.article8{
    grid-row-end: span 2; 
}