@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");
   
    
  }
  @font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff") format("woff");
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.eot") format("eot");

  }
  
  @font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("truetype");
   
    
  }
.footer {
    background-color: #871116;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 50px 50px 70px;
}
.footerb1 {
    color: white;
}
.footerb1 img{
   height: 120px;
   width: 240px;
   margin-top: 30px;
}
.footerb2 {
    color: white;

}
.footerb2 h3{
    font-family: 'titreMirage', sans-serif;
    font-size: 30px;
}
.footerb2 p{
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb3 h3{
    font-family: 'titreMirage', sans-serif;
    font-size: 30px;
}
.footerb3 p{
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb2b1 {
    display: flex;
    flex-direction: column;
    
}
.footerb2b1 a {
    text-decoration: none;
    color: white;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
    margin-top: 5px;
}
.footerb2b2 {
    display: flex;
    flex-direction: column;
    font-family: 'textebase', sans-serif;
    margin-top: 70px;
}
.footerb3 {
    color: white;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb3b2 {
    margin-top: 110px;
}
.footerb3b2 a{
    color: white;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb4 {
    color: white;
    font-family: Aperçu, sans-serif;
    font-weight: 'normal';
}
.socialfooter img {
    height: 40px;
    width: 40px;


}
.emailfooter{
    text-decoration: none;
    color: white;
}
.socialfooter{
    margin-left: -9px;
    margin-top: 5px;
}
@media screen and (max-width: 868px) {
    .footer{
        display: block;
    }
}