@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/HindSiliguri-Light.woff") format("truetype");

}
@font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}
.footer {
    background-color: #871116;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 50px 50px 70px;
}
.footerb1 {
    color: #FFF8F0;
}
.footerb1 img{
   height: 120px;
   width: 240px;
   margin-top: 30px;
}
.footerb2 {
    color: #FFF8F0;

}
.footerb2 h3{
    font-family: 'helene', sans-serif;
    font-size: 30px;
}
.footerb2 p{
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb3 h3{
    font-family: 'helene', sans-serif;
    font-size: 30px;
}
.footerb3 p{
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb2b1 {
    display: flex;
    flex-direction: column;
    
}
.footerb2b1 a {
    text-decoration: none;
    color: #FFF8F0;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
    margin-top: 5px;
}
.footerb2b2 {
    display: flex;
    flex-direction: column;
    font-family: 'textebase', sans-serif;
    margin-top: 70px;
}
.footerb3 {
    color: #FFF8F0;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb3b2 {
    margin-top: 110px;
}
.footerb3b2 a{
    color: #FFF8F0;
    font-family: 'textebase', sans-serif;
    font-weight: 'normal';
}
.footerb4 {
    color: #FFF8F0;
    font-family: Aperçu, sans-serif;
    font-weight: 'normal';
}
.socialfooter img {
    height: 50px;
    width: 50px;


}
.emailfooter{
    text-decoration: none;
    color: #FFF8F0;
}
.socialfooter{
    margin-left: -9px;
    margin-top: 5px;
}
.yotubefooter{
    margin-left: 5px;
}
@media screen and (max-width: 868px) {
    .footer{
        display: block;
        padding: 0;
        padding-bottom: 50px;
    }
    .footerb3b1{
        border-bottom: #FFF8F0 1px solid;
       
    }
    .footerb1 img {
        margin-left: 20px;
        margin-right: 20px;
    }
    .footerb2{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footerb3b2{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }
    .footerb3b1 h3{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footerb3b1 a{
        margin-left: 20px;
        margin-right: 20px;
    }
    .socialfooter{
        margin-left: -10px;
        margin-bottom: 50px;
    }
}