@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}

.listeimagepress {

    align-items: center;
    display: flex;
    justify-content: center;
    height: 30vh;
    border-bottom: #871116 1px solid;
}
.listeimagepress img {
    margin-left: -10px;
    margin-right: -10px;
    height: 120px;
    width: 240px;
    cursor: pointer;
}
.pressbl1 {
    display: flex;
    border-bottom: #871116 1px solid;
    margin-left: 290px;
    margin-right: 290px;
    padding-bottom: 50px;

}
.pressbl1 img {
    width: 25vh;
    cursor: pointer;
}
.pressbl1bl2 {
    display: flex;
    flex-direction: column;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}

.pressbl2 {
    display: flex;

    margin-left: 290px;
    margin-right: 290px;
    padding-top: 50px;
    padding-bottom: 150px;
}
.pressbl1bl2 span {
    font-size: 16px;
}
.pressbl1bl2 a {
  
   color: #871116;
}
.pressbl1bl2 p {
    font-size: 18px;
}
.pressbl2bl2 span {
    font-size: 16px;
}
.pressbl2bl2 a {
  
    color: #871116;
 }
.pressbl2bl2 p {
    font-size: 18px;
}
.pressbl3bl2 span {
    font-size: 16px;
}
.pressbl3bl2 a {
  
    color: #871116;
 }
.pressbl3bl2 p {
    font-size: 18px;
}
.pressbl2 img {
    width: 25vh;
    cursor: pointer;
}
.pressbl2bl2 {
    display: flex;
    flex-direction: column;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}
.pressbl3 {
    display: flex;
    margin-left: 290px;
    margin-right: 290px;
    padding-bottom: 130px;
}
.pressbl3 img {
    width: 25vh;
    cursor: pointer;
}
.pressbl3bl2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}
.titrepresse {
    font-size: 30px;
    padding: 25px;
    margin-top: -50px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    color: #871116;
    font-family: 'Mademirageitalic', sans-serif;
}
.titrepressedeux {
    font-size: 30px;
    padding: 25px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #871116;
    font-family: 'Mademirageitalic', sans-serif;
}
.titrepressetrois {
    border-top: #871116 1px solid;
    font-family: 'Mademirageitalic', sans-serif;
    font-size: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #871116;
}
.pressbl1 p {
    font-family: 'textebase',sans-serif;
}

.pressbl2 p {
    font-family: 'textebase',sans-serif;
}
.pressbl3 p {
    font-family: 'textebase',sans-serif;
}
.pressbl1 h3 {
    font-family: 'Mademirageitalic', sans-serif;
}

.pressbl2 h3 {
    font-family: 'Mademirageitalic', sans-serif;
}
.pressbl3 h3 {
    font-family: 'Mademirageitalic', sans-serif;
}
@media screen and (max-width: 868px) {
    .titrepresse {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .pressbl1 {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    .pressbl2 {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    .pressbl3 {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    .listeimagepress {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;

    }
    .listeimagepress img {
        height: 120px;
        width: 190px;
        cursor: pointer;
    }
}
