

@font-face {
    font-family: "Mademirageitalic";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
   
    
  }
  @font-face {
    font-family: "titreMirage";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
.listeimagepress{
    
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30vh;
    border-bottom: #871116 1px solid;
}
.listeimagepress img {
    margin-left: 60px;
    margin-right: 60px;
    height: 80px;
    width: 140px;
}
.pressbl1{
    display: flex;
    border-bottom: #871116 1px solid;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
}
.pressbl1 img{
    width: 30vh;
}
.pressbl1bl2{
    display: flex;
    flex-direction: column;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}

.pressbl2{
    display: flex;
    
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pressbl2 img{
    width: 30vh;
}
.pressbl2bl2{
    display: flex;
    flex-direction: column;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}
.pressbl3{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 100px;
}
.pressbl3 img{
    width: 30vh;
}
.pressbl3bl2{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    color: #871116;
    margin-left: 50px;
    margin-top: -15px;
}
.titrepresse{
    font-size: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #871116;
    font-family: 'Mademirageitalic', sans-serif;
}
.titrepressedeux{
    font-size: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #871116;
    font-family: 'Mademirageitalic', sans-serif;
}
.titrepressetrois{
    border-top: #871116 1px solid;
    font-family: 'Mademirageitalic', sans-serif;
    font-size: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #871116;
}
.pressbl1 p{
    font-family: 'textebase',sans-serif;
}

.pressbl2 p{
    font-family: 'textebase',sans-serif;
}
.pressbl3 p{
    font-family: 'textebase',sans-serif;
}
.pressbl1 h3{
   font-family: 'Mademirageitalic', sans-serif;
}

.pressbl2 h3{
   font-family: 'Mademirageitalic', sans-serif;
}
.pressbl3 h3{
   font-family: 'Mademirageitalic', sans-serif;
}








.footer {
    background-color: #871116;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 50px 50px 70px;
}
.footerb1 {
    color: white;
}
.footerb2 {
    color: white;

}
.footerb2b1 {
    display: flex;
    flex-direction: column;
}
.footerb2b1 a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}
.footerb2b2 {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.footerb3 {
    color: white;
}
.footerb3b2 {
    margin-top: 110px;
}
.footerb4 {
    color: white;
}
.socialfooter img {
    margin-right: 20px;

}
