@font-face {
    font-family: "Mademirageitalic";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
    src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
    font-family: "newtypo";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
    font-family: "titreMirage";
    src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
    font-family: "textebase";
    src: url("../TYPOS/APERCU/HindSiliguri-Light.woff") format("truetype");

}
@font-face {
    font-family: "italiccar";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
    src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
    font-family: "itabbee";
    src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");

}
@font-face {
    font-family: "helene";
    src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}

.tarifbl1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    font-family: "helene",sans-serif;
    font-weight: 400;
    margin-top: 40px;

}
.imagetarifb1 {
    height: 540px;
    width: 540px;
}
.tarifparticulier {
    color: #871116;
    border-bottom: #871116 1px solid;

}
.tarifblocleft {
    margin-top: -35px;
}
.tarifparticulier h3 {
    font-size: 40px;
    font-family: 'helene', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    padding-bottom: 20px;

}
.particuliernametarif {
    display: flex;
    justify-content: space-between;
    font-family: 'textebase', sans-serif;
    margin-top: -20px;

}
.particulierprice {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: -60px;

}
.tarifpro {
    color: #871116;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.tarifpro h3 {
    font-size: 40px;
    font-family: 'helene', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 20px;

}
.tarifpro p {
    font-family: 'textebase', sans-serif;
    margin-top: 15px;
}

.pronametarif {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;

}
.proprice {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-top: -40px;
    margin-bottom: 10px;
}
.proprice p {
    font-family: 'textebase', sans-serif;

}
.tarifbl2 {
    display: flex;
    justify-content: space-around;
    margin: 55px 294px 150px 107px;
    color: #871116;
}
.tarifbl2 h3 {
    font-size: 50px;
    font-family: 'helene', sans-serif;
    font-weight: 200;
}
.tarifbl2 p {
    font-family: 'textebase', sans-serif;
}
.lientarif {
    font-family: 'textebase', sans-serif;
    color: #871116;
}

.devisgratuit {
    color: #871116;
}
.kilometriques {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}
@media screen and (max-width: 868px) {
    .tarifbody {
        padding-top: 120px;
    }
    .tarifbl1 {
        display: block;
        margin-left: 20px;
        margin-right: 20px;

    }
   
    .imagetarifb1 {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .tarifbl2 {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:50px;
        margin-top: 20px;
    }
    .tarifbl2 h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .particuliernametarif{
        margin-left: 6px;
    }
    .tarifbl2 br{
        display: none;
    }
    .tarifpro br:nth-child(1){
        display: none;
    }
}
