@font-face {
    font-family: "Mademirageitalic";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
   
    
  }
  
  @font-face {
    font-family: "titreMirage";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Regular.otf") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
   
    
  }
.tarifbl1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    font-family:"titreMirage",sans-serif;
    
}
.tarifparticulier{
    color: #871116;
    border-bottom: #871116 1px solid;
    
}
.tarifblocleft{
    margin-top: -35px;
}
.tarifparticulier h3{ 
    font-size: 40px;
    font-family: 'titreMirage', sans-serif;
    
}
.particuliernametarif{
    display: flex;
    justify-content: space-between;
    font-family: 'textebase', sans-serif;
    
}
.particulierprice{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: -55px;
   
}
.tarifpro{
    color: #871116;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.tarifpro h3{ 
    font-size: 40px;
    font-family: 'titreMirage', sans-serif;
    
}
.tarifpro p{
    font-family: 'textebase', sans-serif;
}

.pronametarif{
    display: flex;
    justify-content: space-between;
    
    
}
.proprice{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-top: -55px;
}
.proprice p{
    font-family: 'textebase', sans-serif;
}
.tarifbl2{
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-left: 114px;
    margin-top: 90px;
    margin-bottom: 90px;
    color: #871116;
}
.tarifbl2 h3{
    font-size: 40px;
    font-family: 'titreMirage', sans-serif;
}
.tarifbl2 p{
    font-family: 'textebase', sans-serif;
}
.lientarif{
    font-family: 'textebase', sans-serif;
    color: #871116;
}


