@font-face {
  font-family: "Mademirageitalic";
  src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");
  src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
  font-family: "newtypo";
  src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Regular\ PERSONAL\ USE.woff2") format("woff2");

}
@font-face {
  font-family: "titreMirage";
  src: url("../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.woff") format("truetype");

}
@font-face {
  font-family: "textebase";
  src: url("../TYPOS/APERCU/Apercu\ Light.woff") format("truetype");

}
@font-face {
  font-family: "italiccar";
  src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");
  src: url("../TYPOS/APERCU/Apercu\ Light\ Italic.woff") format("woff");

}
@font-face {
  font-family: "itabbee";
  src: url("../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.woff") format("woff");

}
@font-face {
  font-family: "helene";
  src: url("../TYPOS/CRIMSON\ ITALIC/Literata_60pt-Light.woff") format("woff");

}
.titretexteatelier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #871116;
    margin-bottom: 30px;
    margin-top: -35px;
   
}
.titretexteatelier h1{
    font-family:'Mademirageitalic',sans-serif ;
    font-size: 70px;
}
.decouvreatelier{
  font-size: 18px;
}
.textateliertemp{
  font-size: 16px;
}
.titretexteatelier p{
    font-family: 'textebase',sans-serif;
    margin-left: 55vh;
    margin-right: 55vh;
    text-align: center;
    
}

.containertexteatelier{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}
.texteatelierarticle {
    
    
    color: #871116;
    border-bottom: #871116 1px solid;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.texteatelierarticle h3{
    font-family:'Mademirageitalic',sans-serif ;
}
.texteatelierarticle p{
    font-family:'textebase',sans-serif ;
    font-size: 18px;
}
.texteatelierarticle p:nth-child(2){
  font-size: 14px;
}
@media screen and (max-width: 868px) {
  .titretexteatelier p{
    margin-left: 0px;
    margin-right: 0px;

  }
  .containertexteatelier{
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  .texteatelierarticle{
    margin-left: 20px;
    margin-right: 20px;
  }
}