@font-face {
    font-family: "Mademirageitalic";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
   
    
  }
  @font-face {
    font-family: "titreMirage";
    src: url("../../TYPOS/MADE MIRAGE/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf") format("truetype");
    
  }
  @font-face {
    font-family: "textebase";
    src: url("../../TYPOS/APERCU/Apercu\ Light.otf") format("truetype");
    
  }
  @font-face {
    font-family: "italiccar";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
  @font-face {
    font-family: "itabbee";
    src: url("../../TYPOS/CRIMSON\ ITALIC/CrimsonPro-ExtraLightItalic.ttf") format("truetype");
    src: url("../../TYPOS/APERCU/Apercu\ Light\ Italic.otf") format("truetype");
    
  }
.titretexteatelier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #871116;
    margin-bottom: 50px;
   
}
.titretexteatelier h1{
    font-family:'Mademirageitalic',sans-serif ;
    font-size: 70px;
}
.titretexteatelier p{
    font-family: 'textebase',sans-serif;
    margin-left: 60vh;
    margin-right: 60vh;
    text-align: center;
}
.containertexteatelier{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.texteatelierarticle {
    
    
    color: #871116;
    border-bottom: #871116 1px solid;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.texteatelierarticle h3{
    font-family:'Mademirageitalic',sans-serif ;
}
.texteatelierarticle p{
    font-family:'textebase',sans-serif ;
}